                /* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

        /* common styles */
.bg-color{
    background-color: #264653;
}
        
.btn-color{
    background-color: #E76F51;
    padding: 10px 30px;
    border: none;
    color: #fff;
}
        
.orange-text{
    color: #E76F51;
}

        /* bike styles */
.gray-bike{
    filter: grayscale(1);
}

        /* components styles */
.major-parts{
    margin-top: 100px;
    margin-bottom: 140px;
}

.major-parts .card:hover{
    background-color: rgba(212, 209, 209, 0.274);
    box-shadow: 5px 5px 30px rgb(192, 188, 188);
    border:rgba(212, 209, 209, 0.274);
    cursor: pointer;
}