                /* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.gray-bike{
    filter: grayscale(1);
}

.bg-color{
    background-color: #264653;
}

.btn-color{
    background-color: #E76F51;
    padding: 10px 30px;
    border: none;
    color: #fff;
}

.orange-text{
    color: #E76F51;
}